<div class="pre-navbar">
  <p class="pre-navbar__text">Need help? Call us: (+98) 0234 456 789</p>
  <div class="pre-navbar__content">
    <div class="pre-navbar__item">
      <a mat-button href="https://www.google.com/" target="_blank">
        <mat-icon>location_on</mat-icon>Our store</a
      >
    </div>
    <div class="pre-navbar__item">
      <a mat-button href="https://www.google.com/" target="_blank">
        <mat-icon>local_shipping</mat-icon>Track your order</a
      >
    </div>
  </div>
</div>

<p class="navbar">
  <mat-toolbar color="primary" class="navbar__container">
    <span>Angular E commerce</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
</p>
